*{margin: 0px; padding: 0px; font-size: 100%;}

/*MOBILE*/
@media screen and (min-width: 300px) {
    body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100vh;
    }
    .cabecalho{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #0f7db2;
        color: white;
        font-weight: 900;
        margin-bottom: 30px;
    }
    .principal{
        width: 85%;
        height: 70vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content:flex-start;
	    background-color: white;
    }
    .box{
        width: 140px;
        height: 100px;
        border-style: solid;
        border-radius: 5px;
        border-color: gray;
        background-color: greenyellow;
        margin-top: 20px;
        font-size: 50px;
        -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
		-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
		box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
    }
    .box:active{
        width: 135px;
        height: 95px;
    }
    .box.ar02{
        background-color: red;
    }
    .box.ar04{
        background-color: yellow;
    }
    .box.ar05{
        background-color: yellow;
    }
    .box.ar06{
        background-color: red;
    }
    .titulo-box{
        position: absolute;
        font-size: 12px;
    }
    .div-icone{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-configuracoes{
        bottom: 40px;
        right: 20px;
        position:fixed;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        background-color: orangered;
        color: white;
    }
    .btn-configuracoes:active{
        width: 55px;
        height: 55px;
    }
    .configuracoes{
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(29, 25, 25, 0.5);
    }
    .configuracoes-principal{
        width: 85%;
        height: 75%;
        border-radius: 10px;
        background-color: white;

    }
    .configuracoes-cabecalho{
        width: 100%;
        height: 40px;
    }
    .configuracoes-cabecalho h2{
        float: right;
        margin: 5px 15px;
        font-weight: 500;
    }
    footer{
        width: 100%;
        height: 90px;
        border-top-style: groove;
    }
    ul li{
        text-decoration: none;
        list-style-type: none;
        font-size: 13px;
    }
    .fa-duotone{
        margin-right: 5px;
    }
    .verde{
        color: greenyellow;
    }
    .amarelo{
        color: yellow;
    }
    .vermelho{
        color: red;
    }
}
@media screen and (min-width: 400px){
    .box{
        width: 145px;
        height: 143px;
    }
}

/*PC*/
@media screen and (min-width: 680px){
    
   .principal{
        width: 60%;
        justify-content: space-around;
    }
    .box{
        width: 250px;
        height: 200px;
    }
    .box:active{
        width: 245px;
        height: 195px;
    }
    .box:hover{
        cursor: pointer;
    }
    .configuracoes-cabecalho h2:hover{
        cursor: pointer;
    }
}